/Aircraft Gearbox
/FEMTO
/HealthyGearbox
HealthyGearboxNoFeatures/
HealthyGearbox.zip
CMAPSS.txt
cmapss.ipynb
CMAPSS_FD001_LSTM_piecewise_linear_degradation_model.ipynb
/STM32CubeMXProject
/dallE
/NEWS